
.textGrayCenter {
	background-color: dimgray;
	color: lightcyan;
	text-align: center;
}

hr {
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	width: 5%;
}
.popTable {
	background-color:white;
	float:left;
}
